<h1>Products Index</h1>

<% @products.each do |product| %>
  <h2><a href="/client/products/<%= product["id"] %>"><%= product["name"] %></a></h2>
  <h4>Name: <%= product["name"] %></h4>
  <h5>Description: <%= product["description"] %></h5>
  <br>
  <br>
<% end %>

