<h1>New Product</h1>
<%= form_tag "/client/products", method: :post do %>

<!-- <form action=".client/products" method="post"> -->
  <div>
    Name: <input type="text" name="name">
  </div>
  <div>
    Description: <input type="text" name="description">
  </div>

<% end %>